body {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.calculator {
  background: white;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: #1e88e5;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0d47a1;
}

#result {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}
